<div class="container">
<form>
    <h1>Add Friend</h1>
    <div class="form-group">
        <label for="name"></label>
        <input name="name" type="name" id="name" placeholder="name" class="form-control" [(ngModel)]="friend.name">
    </div>
    <div class="form-group">
        <label for="email"></label>
        <input name="email" type="email" id="email" placeholder="email" class="form-control" [(ngModel)]="friend.email">
    </div>
    <div class="form-group">
        <label for="phoneNumber"></label>
        <input name="phoneNumber" type="phoneNumber" id="phoneNumber" placeholder="phoneNumber" class="form-control" [(ngModel)]="friend.phoneNumber">
    </div>
    <button type="submit" (click)="addFriend()" class="btn btn-success mt-3">Add Friend</button>
</form>
</div>